<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 驼峰命名开启 -->
	<settings>
		<setting
			name="mapUnderscoreToCamelCase"
			value="true" />
		<!-- 对于批量更新操作缓存SQL以提高性能 -->
		<setting
			name="defaultExecutorType"
			value="SIMPLE" />

		<!-- 查询时，关闭关联对象即时加载以提高性能
		<setting
			name="lazyLoadingEnabled"
			value="true" /> -->
		<!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指 定)，不会加载关联表的所有字段，以提高性能 
		<setting
			name="aggressiveLazyLoading"
			value="false" />-->
	</settings>


	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--分页参数合理化 -->
			<property
				name="reasonable"
				value="true" />
		</plugin>
	</plugins>

</configuration>
  